.page-header
  %h1 Mail to all organizations

%form 
  .form-group
    %label Email address
    = text_field  :user, :email, :class => 'form-control'
  .form-group
    %label Subject
    = text_field :user, :subject, :class => 'form-control'
  .form-group
    %label Content
    = text_area :user, :content, :class => 'form-control'

  %input{:type => "submit", :value => "Send To All Orgs", :class => 'btn btn-primary'}